# api backend
blinker==1.9.0
click==8.1.8
Flask==3.0.0
flask-cors==5.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
Werkzeug==3.1.3

#download youtube song
yt-dlp

# audio to midi spotify's model 
basic-pitch[all]

#audio to midi best performence model
transkun 

# synthviz: Library for creating visualizations of piano-playing from MIDI files
synthviz==0.0.2
pillow==11.2.1 # used by Synthviz, drawing graphics


# generate musiscxml and pdf files 
partitura # midi -> musicXML
music21 # musicXML -> pdf



# propose name of song 
openai